<b-details controller="stores"
           masterCrumb="Stores"
           [createNew]="createNew"
           [canUpdatePred]="canUpdate"
           [detailsCrumb]="detailsCrumb"
           [viewEditTemplate]="editView">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ model?.Name }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #editView let-model="model" let-isEdit="isEdit">
  <!-- Name (Header) -->
  <div class="w-100 mb-2 mb-sm-4">
    <h2 class="col-12 font-weight-normal" *ngIf="!isEdit">{{ model?.Name }}</h2>
    <div class="col-12">
      <input class="w-100 b-h2 b-input form-control" *ngIf="isEdit" [(ngModel)]="model.Name" placeholder="Name" required
             #nameControl="ngModel" [class.is-invalid]="nameControl.invalid && nameControl.touched" />
    </div>
  </div>

  <!-- Account Executive -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">Key Account Executive</span>
      </div>
      <div class="col-12 col-lg-8">
        <a *ngIf="!isEdit && model?.AccountExecutive?.Id" [routerLink]="['../../users', model?.AccountExecutive?.Id]">{{model?.AccountExecutive?.FullName}}</a>
        <b-details-picker *ngIf="isEdit" [(ngModel)]="model.AccountExecutive" controller="users" [formatter]="userFormatter"
                          #accountExecControl="ngModel" [class.is-invalid]="accountExecControl.invalid && accountExecControl.touched">
        </b-details-picker>
      </div>
    </div>
  </div>


  <!-- Is Active -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">Is Active?</span>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!isEdit">{{model?.IsActive ? 'Yes' : 'No'}}</div>
        <input type="checkbox" *ngIf="isEdit" [(ngModel)]="model.IsActive"
               #isActiveControl="ngModel" [class.is-invalid]="isActiveControl.invalid && isActiveControl.touched" />
      </div>
    </div>
  </div>
</ng-template>
