<b-master controller="supportrequests"
          [toolbarExtrasTemplate]="toolbarExtras"
          [tileTemplate]="tile"
          [tableDefinition]="[
              { display: 'Serial No.', orderBy: 'SerialNumber' },
              { display: 'Date', orderBy: 'Date' },
              { display: 'State', orderBy: 'State' },
              { display: 'Store' },
              { display: 'Key Account Executive' },
              { display: 'Manager' },
              { display: 'Reason', orderBy: 'Reason' },
              { display: 'Requested' }
            ]"
          [tableRowTemplate]="row">

</b-master>

<ng-template #tile let-model="model">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ model.SerialNumber | bSerial:'SR'}}</span>
    <span>{{ requestedValue(model) | number:'1.2-2' }} AED</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span>{{model.Date | date }}</span>
    <ng-container *ngTemplateOutlet="stateTemplate; context: { model: model }"></ng-container>
  </div>
</ng-template>

<ng-template #row let-model="model">
  <td>{{ model.SerialNumber | bSerial:'SR'}}</td>
  <td>{{ model.Date | date }}</td>
  <td><ng-container *ngTemplateOutlet="stateTemplate; context: { model: model }"></ng-container></td>
  <td>{{ model.Store?.Name }}</td>
  <td>{{ model.AccountExecutive?.FullName }}</td>
  <td>{{ model.Manager?.FullName }}</td>
  <td>{{ getReasonDisplay(model.Reason) }}</td>
  <td class="text-right">{{ requestedValue(model) | number:'1.2-2' }} AED</td>
</ng-template>

<ng-template #stateTemplate let-model="model">
  <span class="text-white pl-1 pr-1"
        [class.bg-secondary]="model.State === 'Submitted' || model.State === 'Draft'"
        [class.bg-dark]="model.State === 'Approved'" [class.bg-danger]="model.State === 'Rejected'"
        [class.bg-warning]="model.State === 'Canceled'" [class.bg-success]="model.State === 'Posted'">{{ model.State }}</span>
</ng-template>

<ng-template #toolbarExtras let-bag="bag">
  <div class="d-inline small mr-2 ml-2" *ngIf="bag && showMyBalance">
    <span class="d-none d-sm-inline b-vertical-align-middle">My Balance:&nbsp;</span>
    <span class="b-vertical-align-middle">{{ bag.AvailableBalance | number:'1.2-2' }} AED</span>
  </div>
</ng-template>
