<div class="d-flex flex-column h-100">
  <div class="navbar navbar-dark bg-dark navbar-expand-md">
    <a routerLink="support-requests">
      <b-brand></b-brand>
    </a>
    <button type="button" class="navbar-toggler" (click)="onToggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" [ngbCollapse]="isCollapsed">
      <ol class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="support-requests" routerLinkActive="active" (click)="onCollapse()">Support Requests</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="stores" routerLinkActive="active" (click)="onCollapse()">Stores</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="products" routerLinkActive="active" (click)="onCollapse()">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="users" routerLinkActive="active" (click)="onCollapse()">Users</a></li>
        <li class="nav-item" *ngIf="canViewData"><a class="nav-link" routerLink="data" routerLinkActive="active" (click)="onCollapse()">Data</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="my-account" routerLinkActive="active" (click)="onCollapse()">{{ currentUserFullName }}</a></li>
      </ol>
      <ol class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onSignOut()">
            <fa-icon icon="sign-out-alt"></fa-icon>&nbsp;&nbsp;Sign Out
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class="b-rest-of-screen container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
