<b-details controller="products"
           masterCrumb="Products"
           [createNew]="createNew"
           [canUpdatePred]="canUpdate"
           [detailsCrumb]="detailsCrumb"
           [viewEditTemplate]="editView">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ model?.Barcode }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #editView let-model="model" let-isEdit="isEdit">
  <!-- Description (Header) -->
  <div class="w-100 mb-2 mb-sm-4">
    <h2 class="col-12 font-weight-normal" *ngIf="!isEdit">{{ model?.Description }}</h2>
    <div class="col-12">
      <input class="w-100 b-h2 b-input form-control" *ngIf="isEdit" [(ngModel)]="model.Description" required placeholder="Description"
             #descControl="ngModel" [class.is-invalid]="descControl.invalid && descControl.touched" />
    </div>
  </div>

  <!-- Barcode -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">Barcode</span>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!isEdit">{{model?.Barcode}}</div>
        <input class="w-100 b-input form-control" *ngIf="isEdit" [(ngModel)]="model.Barcode" required
               #barcodeControl="ngModel" [class.is-invalid]="barcodeControl.invalid && barcodeControl.touched" />
      </div>
    </div>
  </div>

  <!-- SapCode -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">SAP Material Code</span>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!isEdit">{{model?.SapCode}}</div>
        <input class="w-100 b-input form-control" *ngIf="isEdit" [(ngModel)]="model.SapCode" required
               #sapCodeControl="ngModel" [class.is-invalid]="sapCodeControl.invalid && sapCodeControl.touched" />
      </div>
    </div>
  </div>

  <!-- Type -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">Type</span>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!isEdit">{{ typeDisplay(model?.Type) }}</div>
        <select class="w-100 b-input form-control" *ngIf="isEdit" [(ngModel)]="model.Type" required
                #typeControl="ngModel" [class.is-invalid]="typeControl.invalid && typeControl.touched">
          <option *ngFor="let type of types" value="{{ type.value }}">{{ type.display }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Is Promo -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">Is Promo?</span>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!isEdit">{{model?.IsPromo ? 'Yes' : 'No'}}</div>
        <input type="checkbox" *ngIf="isEdit" [(ngModel)]="model.IsPromo"
               #isPromoControl="ngModel" [class.is-invalid]="isPromoControl.invalid && isPromoControl.touched" />
      </div>
    </div>
  </div>

  <!-- Is Active -->
  <div class="mt-2 mt-lg-1 col-12 col-md-6">
    <div class="row">
      <div class="font-weight-bold small col-12 col-lg-4">
        <span class="b-vertical-align-middle">Is Active?</span>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!isEdit">{{model?.IsActive ? 'Yes' : 'No'}}</div>
        <input type="checkbox" *ngIf="isEdit" [(ngModel)]="model.IsActive"
               #isActiveControl="ngModel" [class.is-invalid]="isActiveControl.invalid && isActiveControl.touched" />
      </div>
    </div>
  </div>
</ng-template>
