<!-- Password -->
<div class="form-group">
  <label class="form-label" for="password">Password</label>
  <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" />
</div>

<!-- Confirm Password -->
<div class="form-group">
  <label class="form-label" for="confirmPassword">Confirm Password</label>
  <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" />
</div>

<!-- Submit button -->
<button class="btn btn-primary mt-3 w-100" [disabled]="!!showSpinner" (click)="onResetPassword()">
  <fa-icon icon="key"></fa-icon>&nbsp;&nbsp;Reset password
</button>

<div class="mt-3" style="height:30px">
  <!-- The fixed 30px prevents a jerk when the indicator is dynamically displayed -->
  <!-- Indicator -->
  <div class="text-center" *ngIf="!!showSpinner">
    <b-spinner></b-spinner>
    <span>&nbsp;&nbsp;Resetting your password...</span>
  </div>

  <!-- Error message -->
  <b-error-message *ngIf="errorMessage">
    {{errorMessage}}
  </b-error-message>
</div>
